.newexperiment {
  color: #333;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.wrapper {
  margin-top: 70px;
  margin-bottom: 8px;
  padding-bottom: 30px;
}

.mainTitleWrapper {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.titleWrapper {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 45px;
}

.formControl {
  margin-top: 40px;
}

.cardWrapper {
  margin-top: 36px;
}

.inputLabel {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  color: #333;
  position: static;
  transform: none;
}

.select {
  font-size: 14px;
}

.selectImage {
  margin-top: -16px;
  margin-bottom: -16px;
  margin-right: 16px;
}

.buttonsWrap {
  margin-top: 40px;
  text-align: center;
}

.fullwidthButton {
}

.butonGroupWrap {
  margin-top: 55px;
  display: flex;
  justify-content: space-evenly;
  max-width: 483px;
  margin-left: auto;
  margin-right: auto;
}

.link-diving {
  display: flex;
  flex-direction: row;
}
.link-diving-title {
  font-size: 12px;
  font-weight: normal;
}
.link-diving-text {
  font-size: 12px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}
.footer {
  margin-top: auto;
}
