.newexperiment {
  color: #333;
  background-color: #fafafa;
}

.header {
  text-align: center;
}

.wrapper {
  margin-top: 70px;
  margin-bottom: 8px;
}

.title-wrapper {
  text-align: center;
}

.formControl {
  margin-top: 40px;
}

.inputLabel {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  color: #333;
  position: static;
  transform: none;
}

.select {
  font-size: 14px;
  background-color: white;
}

.select-wrapper {
  margin-top: 40px;
}

.selectImage {
  margin-top: -16px;
  margin-bottom: -16px;
  margin-right: 16px;
}

.buttonWrap {
  margin-top: 60px;
  text-align: center;
}
