.login-wrapper {
  margin: 0;
  width: 100%;
  height: 100vh;
  // font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e98568, #455dd4, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-form-wrapper {
  min-width: 360px;
  min-height: 310px;
  padding: 35px 80px;
}

.H2 {
  font-size: 20px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  font-weight: normal;
  left: 0;
  margin-top: 25px;
}
