.title {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}

.titleCentered {
  text-align: center;
}

.help-text {
  display: block;
  color: #606060;
  margin-top: 6px;
  font-size: 12px;
}
