.exp {
  background: #fafafa;
  min-height: 100vh;
}

.content-header {
  width: 100%;
  min-height: 200px;
  background-color: #eaecf4;
}

.title {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

.subtitle {
  margin-top: 20px;
}

.subtitle-app {
  font-weight: bold;
  color: #8b8b8b;
}

.subtitle-date {
  margin-left: 25px;
}

.btn-wrapper {
  margin-top: 15px;
  padding-bottom: 40px;
}

.charts-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.charts-wrapper {
  display: flex;
  align-items: center;
}

.var-list-title {
  margin-top: 50px;
}

.var-cards {
  margin-top: 25px;
}

.develop-icon {
  width: 70px;
}

.develop-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45vh;
}

.develop-text {
  font-size: 24px;
  margin-left: 20px;
}
