.exp {
  background: #fafafa;
  min-height: 100vh;
}

.charts-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.chart-wrapper-comp {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
