.wrapper {
  background: #ffffff;
  border: 1px solid #244bdd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 41px 32px 48px;
  position: relative;
}

.title {
  color: #333;
  text-align: center;
}

.cardLabel {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  color: #333;
}

.uploadWrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.iconLabel {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 23px;
  object-fit: cover;
  background-color: #f1f1f1;
}

.buttonWrap {
  margin-left: 30px;
}

.buttonHelpText {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 14px;
  float: left;

  &:before {
    clear: both;
  }
}

.delete {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  line-height: 0.9;
  font-weight: 300;
  font-size: 26px;
  transition: color 0.2s ease;
  &:hover {
    color: #e3603b;
  }
}
