{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:sonarjs/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier", "sonarjs"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-param-reassign": 2,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/display-name": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-props-no-spreading": 0,
    "react/static-property-placement": 0,
    "react/jsx-filename-extension": 0,
    "sonarjs/cognitive-complexity": 0,
    "sonarjs/max-switch-cases": 0
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
