.img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.item {
  margin-left: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.title {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}
