.component {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-end;
  .white {
    color: white;
  }
}

.title {
  margin: 0;
  font-size: 24px;
  margin-right: 17px;
  color: #333333;
  @media (max-width: 576px) {
    font-size: 24px;
  }
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal;
}

.subtitle {
  display: inline-block;
  padding-bottom: 4px;
  color: #979797;

  @media (max-width: 576px) {
    margin-top: 12px;
  }
}
