.card {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: white;
  padding: 28px;
  border: 1px solid white;
  cursor: pointer;
  transition: border 0.2s ease;
  &:hover {
    border: 1px solid rgba(36, 75, 221, 0.3);
    .title {
      color: #e3603b;
    }
  }

  @media (max-width: 576px) {
    padding: 30px 10px;
    flex-direction: column;
  }
}
.main-content {
  display: flex;
}
.card-image {
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin-right: 15px;
  align-items: center;
  height: 38px;
  width: 38px;
  @media (max-width: 576px) {
    margin-right: 5px;
  }
}
.img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
}
.img {
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.store-img {
  width: 10px;
  height: 10px;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
  font-size: 18px;
  transition: color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 576px) {
    font-size: 16px;
    width: 105px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}
.publish {
  margin-top: 5px;
  font-weight: 300;
  font-size: 12px;
  color: #979797;
}
.exp-publish {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.exp-stat {
  text-align: right;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 576px) {
    flex-direction: row;
  }
}
.exp-stat-text {
  @media (max-width: 576px) {
    margin-left: 5px;
  }
}
.experiments {
  font-size: 18px;
  color: #848484;
  margin-right: 24px;
  // &:hover {
  //   color: #244bdd;
  //   text-decoration: underline;
  // }
  @media (max-width: 576px) {
    font-size: 12px;
    margin-right: 13px;
  }
}
.experiments-hover {
  transition: all 0.2s ease;
  &:hover {
    color: #244bdd;
    text-decoration: underline;
  }
}
.delete {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  line-height: 0.9;
  font-weight: 300;
  font-size: 26px;
  transition: color 0.2s ease;
  &:hover {
    color: #e3603b;
  }
}
.info {
  display: flex;
  align-items: center;
  .img-wrapper,
  .card-image {
    width: 30px;
    height: 30px;
  }
}
.exp-info {
  @media (max-width: 576px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .exp-stat {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}

.var-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 15px;
  @media (max-width: 768px) {
    display: none;
  }
}

.var-stat-link {
  text-decoration: underline;
  color: #e3603b;
}

.popover {
  @media (max-width: 576px) {
    margin-top: 10px;
  }
}
