.logo {
  display: inline-block;
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 115px;
  @media (max-width: 576px) {
    margin-left: 20px;
  }
}

.link {
  margin-right: 10px;
  text-decoration: none;
  color: #333333 !important;
  font-size: 18px;
  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}
