.variation {
  display: flex;
  flex-direction: column;
}

.control {
  margin-top: 42px;
}

.wrapper {
  padding-bottom: 30px;
}

.tags {
  display: block;
  margin-top: 33px;
}
.info {
  margin-top: 21px;
}

.ratings {
  display: block;
}

.developer {
}

.developer-title {
  margin: 20px 0 10px 0;
}

.developer-title-text {
  font-size: 18px;
}

.developer-name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.footer {
  margin-top: auto;
}
